__pycache__/
*.pyc
.env
.venv/
venv/
downloads/
logs/
output/manual_corrections/**/*.jpg
output/manual_corrections/**/*.png
output/manual_corrections/**/*.pdf
output/manual_corrections/*.js
.vercel/

.vercel
